{% extends "app/layout.html" %} {% block content %} {% if user.is_authenticated == True and user.is_superuser == False %}
<br/>
<div class="bton_group">
    <button id="q1">1</button>
    <button id="q2">2</button>
    <button id="q3">3</button>
    <button id="q4">4</button>
    <button id="q5">5</button>
</div>
<br/>
<div class="question">
    <div id="quest">

    </div>

</div>

<body>
    <br /><br /><br />
    <p style="color: red;
    position: relative;
    right: -20%;
    font-size: 17px;">Submit Code Before going to another question. If not your code will not be validated.</p>
    <br/>
    <div class="header_editor">
        <form id='codeform' style="position: relative;right: 9%;width: 660px;" method="POST"  onsubmit="return false;">
            {% csrf_token %}
            <div class="left float-left21" style="padding-top: 10px;padding: 10px;border-width: thin;font-size: 21px;border-bottom-width: px;border-bottom-width: thick;width: 630px;height: 40px;right: -10%;box-shadow: 1px 3px 6px 0px #d7d7d7;z-index: 1;position: relative;background-color: #ffffff;
              ">



                <strong style="padding-left: 20px;padding-top: 20px;font-weight: 400;">CODE EDITOR</strong>

                <select id="language" onchange="selectLang()" style="height: 26px;padding: 1px;position: absolute;left: 88%;font-size: 15px;">
         <option value="Java">Java</option>
                <option value="C">C</option>
                <option value="C++">C++</option>
            </select>
                <strong style="
                font-weight: 400;
                font-size: 16px;
                position: relative;
                right: -50%;
            ">Dark Mode</strong>
                <input style="
            right: -33%;
            position: relative;" type="checkbox">
            </div>
            <div onchange id='code' name="codearea" style="
                    width: 630px;
                    height: 500px;
                    border: 1px solid rgb(204, 202, 202);
                    padding: 10px;
                    border-radius: 3px;
                    box-shadow: rgb(232, 232, 232) 1px 0px 1px 0px, rgb(206, 199, 199) 0px 0px 0px 0px;
                    font-size: 14px;
                    right: -10%;
                    ">
            </div>
    </div>


    <div class="left float-left21" style="padding-top: 10px;padding: 10px;
    border-width: thin;font-size: 21px;
    border-bottom-width: px;border-bottom-width: thick;
    width: 420px;height: 40px;right: -60%;box-shadow: 1px 3px 6px 0px #d7d7d7;z-index: 1;position: relative;background-color: #ffffff;
    "><strong style="padding-left: 20px;padding-top: 20px;font-weight: 400;">Input/Output</strong>
    </div>
    <div class="input_output">

        <button onclick="runCode()" id='runbtn' class="btn-successy">Compile & run</button>
        <button onclick="submitCode()" id='sbmitbtn' class="btn-successy" style="right: -46%;position: relative;">Submit
                Code</button><br />

        <div class="loader" style="position: relative;left: 60%;right: 20px;"></div>
        <label>Input</label><br />
        <textarea id="input" style="width: 400px;height:60px;border-radius: 8px;"></textarea></br>
        <label>Output</label><br />
        <textarea id="output" style="width: 400px;height:80px;border-radius: 8px;" disabled></textarea>
        </form>
        <p id="submit_warn">SORRY! YOU tried to suubmit More than 3 times.</p>

        <table class="w3-table-all notranslate" id="tctable">
            <label>Test Cases</label>
            <tbody>
                <tr style="border-bottom: solid;border-width: 2px;border-bottom-color: grey;">
                    <th>Test cases</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>Testcase 1</td>
                    <td id="tc1"></td>
                </tr>
                <tr>
                    <td>Testcase 2</td>
                    <td id="tc2"></td>
                </tr>
                <tr>
                    <td>Testcase 3</td>
                    <td id="tc3"></td>
                </tr>
                <tr>
                    <td>Testcase 4</td>
                    <td id="tc4"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <br/>
</body>


{% load static %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{% static 'app/scripts/test.js' %}"></script>
<script type="text/javascript">
    window.onhashchange = function() {
        alert("do u want to redirect"); //code  
    }
    var lang = "Java"
    var q_id = "q1";
    lang = document.getElementById("language").value;
    var resp = ""
    $(document).ready(function() {
        $('#submit_warn').hide();
        set_question("question1");
        q_id = "q1"
    });

    function set_question(q_n) {
        var question_number = q_n;
        console.log(q_n);

        $.ajax({
            type: 'POST',
            url: 'q1/',
            dataType: 'json',
            cache: false,
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                question: question_number,

            },
            success: function(json) {

                $('#quest').html(json);


            },
            complete: function(data) {



                document.getElementById("quest").innerHTML = data.responseText;
                resp = data
            }

        });

    }
    var q1_code = "";
    var q2_code = "";
    var q3_code = "";
    var q4_code = "";
    var q5_code = "";


    function setting_defaults() {
        if (lang == "Java") {
            e.getSession().setMode("ace/mode/java");
            e.setFontSize("15px");
            e.setValue(default_java);
        }
        if (lang == "C") {
            e.getSession().setMode("ace/mode/c_cpp");
            e.setFontSize("15px");
            e.setValue(default_c);
        }
        if (lang == "C++") {
            e.getSession().setMode("ace/mode/c_cpp");
            e.setFontSize("15px");
            e.setValue(default_cpp);
        }
    }
    document.getElementById("q1").onclick = function() {
        if (submit_count["q1"] < 4) {
            $('#submit_warn').hide();
            document.getElementById("sbmitbtn").disabled = false;
        }
        var c_s = confirm("Please Submit Code before moving to next question\nWarning: YOUR CODE WILL NOT BE SAVED\n ");
        $('#tctable').hide();
        if (c_s == true) {
            set_question("question1");
            q_id = "q1";
        }
        if (q1_code != "") {
            e.setValue(q1_code);
        } else {
            setting_defaults();
        }
    }
    document.getElementById("q2").onclick = function() {
        if (submit_count["q2"] < 4) {
            $('#submit_warn').hide();
            document.getElementById("sbmitbtn").disabled = false;
        }
        var c_s = confirm("Please Submit Code before moving to next question\nWarning: YOUR CODE WILL NOT BE SAVED\n ");
        $('#tctable').hide();
        if (c_s == true) {
            set_question("question2");
            q_id = "q2";
        }
        if (q2_code != "") {
            e.setValue(q2_code);
        } else {
            setting_defaults();
        }
    }
    document.getElementById("q3").onclick = function() {
        if (submit_count["q3"] < 4) {
            $('#submit_warn').hide();
            document.getElementById("sbmitbtn").disabled = false;
        }
        var c_s = confirm("Please Submit Code before moving to next question\nWarning: YOUR CODE WILL NOT BE SAVED\n ");
        $('#tctable').hide();
        if (c_s == true) {
            set_question("question3");
            q_id = "q3";
        }
        if (q3_code != "") {
            e.setValue(q3_code);
        } else {
            setting_defaults();
        }
    }
    document.getElementById("q4").onclick = function() {
        if (submit_count["q4"] < 4) {
            $('#submit_warn').hide();
            document.getElementById("sbmitbtn").disabled = false;
        }
        var c_s = confirm("Please Submit Code before moving to next question\nWarning: YOUR CODE WILL NOT BE SAVED\n ");
        $('#tctable').hide();
        if (c_s == true) {
            set_question("question4");
            q_id = "q4";
        }
        if (q4_code != "") {
            e.setValue(q4_code);
        } else {
            setting_defaults();
        }
    }
    document.getElementById("q5").onclick = function() {
        if (submit_count["q5"] < 4) {
            $('#submit_warn').hide();
            document.getElementById("sbmitbtn").disabled = false;
        }
        var c_s = confirm("Please Submit Code before moving to next question\nWarning: YOUR CODE WILL NOT BE SAVED\n ");
        $('#tctable').hide();
        if (c_s == true) {
            set_question("question5");
            q_id = "q5";
        }
        if (q5_code != "") {
            e.setValue(q5_code);
        } else {
            setting_defaults();
        }
    }




    var default_java = "//Write your Java Code below\n//NOTE:Public Class Must be Main\n\nimport java.util.*;\npublic class Main{\n\tpublic static void main(String args[]){\n\tScanner scan = new Scanner(System.in);\n\tSystem.out.println();\n\t}\n}"
    var default_c = "//Write your C code Below\n\n #include <stdio.h>\n\nint main(){\n printf();\n}";
    var default_cpp = "//Write your C++ code below\n\n#include<iostream>\n using namespace std;\n int main(){\ncout<<;\n}";
    var lang = document.getElementById("language").value;
    var submit_count = {};
    submit_count["q1"] = 1;
    submit_count["q2"] = 1;
    submit_count["q3"] = 1;
    submit_count["q4"] = 1;
    submit_count["q5"] = 1;



    function runCode() {


        if (e.getValue() != "") {
            $('.loader').show();
            var ajaxMins = new Date().getMinutes();
            var ajaxSecs = new Date().getSeconds();
            var ajaxMS = new Date().getMilliseconds();
            $.ajax({
                type: 'POST',
                url: 'code1/',
                dataType: 'json',
                cache: false,
                async: true,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    code: e.getValue(),
                    input: $('#input').val(),
                    language_id: document.getElementById("language").value,

                },
                success: function(json) {
                    $('.loader').hide();
                    $('#output').html(json.msg);


                }

            }).done(function() {
                var ajaxMins2 = new Date().getMinutes() - ajaxMins;
                var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
                var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;

                console.log(ajaxSecs2, " seconds");
            });
        } else {
            $('#output').html("Don't submit empty code");
        }
    }
    var a = {};
    a["q1"] = "";
    a["q2"] = "";
    a["q3"] = "";
    a["q4"] = "";
    a["q5"] = "";


    function submitCode() {
        if (submit_count[q_id] < 4) {
            submit_count[q_id] += 1;
            if (q_id == "q1") {
                q1_code = e.getValue();
            }
            if (q_id == "q2") {
                q2_code = e.getValue();
            }
            if (q_id == "q3") {
                q3_code = e.getValue();
            }
            if (q_id == "q4") {
                q4_code = e.getValue();
            }
            if (q_id == "q5") {
                q5_code = e.getValue();
            }
            a["q1"] = q1_code;
            a["q2"] = q2_code;
            a["q3"] = q3_code;
            a["q4"] = q4_code;
            a["q5"] = q5_code;
            e.setValue(e.getValue());
            if (e.getValue() != "") {

                $('.loader').show();
                var ajaxMins = new Date().getMinutes();
                var ajaxSecs = new Date().getSeconds();
                var ajaxMS = new Date().getMilliseconds();
                $.ajax({
                    type: 'POST',
                    url: 'code1/',
                    dataType: 'json',
                    cache: false,
                    async: true,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        code: e.getValue(),
                        input: $('#input').val(),
                        submit: "yes",
                        language_id: document.getElementById("language").value,
                        question_id: q_id,

                    },
                    success: function(json) {
                        $('.loader').hide();
                        $('#tctable').show();
                        var pass = "<p color>Passed<p>";
                        var fail = "<p>Failed <p>";
                        $('#tc1').html(json.testcase1 == true ? pass : fail);
                        $('#tc2').html(json.testcase2 == true ? pass : fail);
                        $('#tc3').html(json.testcase3 == true ? pass : fail);
                        $('#tc4').html(json.testcase4 == true ? pass : fail);


                        if ($('#tc1').text() == "Passed") {
                            $('#tc1').css("color", "green")
                            $('#tc1').css("font-weight", "600")
                            $('#tc1').css("font-size", "20px")
                            $('#tc1').css("background-color", "white")
                        } else {
                            $('#tc1').css("color", "red")
                            $('#tc1').css("font-weight", "600")
                            $('#tc1').css("font-size", "20px")
                            $('#tc1').css("background-color", "white")

                        }
                        if ($('#tc2').text() == "Passed") {
                            $('#tc2').css("color", "green")
                            $('#tc2').css("font-weight", "600")
                            $('#tc2').css("font-size", "20px")
                            $('#tc2').css("background-color", "white")
                        } else {
                            $('#tc2').css("color", "red")
                            $('#tc2').css("font-weight", "600")
                            $('#tc2').css("font-size", "20px")
                            $('#tc2').css("background-color", "white")

                        }
                        if ($('#tc3').text() == "Passed") {
                            $('#tc3').css("color", "green")
                            $('#tc3').css("font-weight", "600")
                            $('#tc3').css("font-size", "20px")
                            $('#tc3').css("background-color", "white")
                        } else {
                            $('#tc3').css("color", "red")
                            $('#tc3').css("font-weight", "600")
                            $('#tc3').css("font-size", "20px")
                            $('#tc3').css("background-color", "white")

                        }
                        if ($('#tc4').text() == "Passed") {
                            $('#tc4').css("color", "green")
                            $('#tc4').css("font-weight", "600")
                            $('#tc4').css("font-size", "20px")
                            $('#tc4').css("background-color", "white")
                        } else {
                            $('#tc4').css("color", "red")
                            $('#tc4').css("font-weight", "600")
                            $('#tc4').css("font-size", "20px")
                            $('#tc4').css("background-color", "white")

                        }




                    }

                })
            }
        } else {
            document.getElementById("sbmitbtn").disabled = true;
            $('#submit_warn').show();
        }
    }

    function selectLang() {
        lang = document.getElementById("language").value;
        console.log("hweuhukewncknv", a[q_id]);
        if (lang == "Java") {
            e.getSession().setMode("ace/mode/java");
            e.setFontSize("15px");
            e.setValue(default_java);
            console.log(a[q_id]);
            if (a[q_id] == "")
                e.setValue(default_java);
            else
                e.setValue(a[q_id]);


        }
        if (lang == "C") {
            e.getSession().setMode("ace/mode/c_cpp");
            e.setFontSize("15px");
            e.setValue(default_c);
            if (a[q_id] == "")
                e.setValue(default_c);
            else
                e.setValue(a[q_id]);
        }
        if (lang == "C++") {
            e.getSession().setMode("ace/mode/c_cpp");
            e.setFontSize("15px");
            e.setValue(default_cpp);
            if (a[q_id] == "")
                e.setValue(default_cpp);
            else
                e.setValue(a[q_id]);
        }
    }
</script>



{% endif %} {% endblock %}