{% extends "app/layout.html" %}

{% block content %}
<body>
<div id="container">
    <div id="editor"></div>
</div>
    <div>
<div class="question" style="padding: 30px;width:60%;">
    <pre id="editor" style=" " >
        <h1>Coding Question</h1>
        <h2>Ali and Helping innocent people</h2>
        <div class="starwars-lab" style="display: inline"><p>Arpasland has surrounded by attackers. A truck enters the city. The driver claims the load is food and medicine from Iranians.&nbsp;Ali is one of the soldiers in Arpasland. He doubts about the&nbsp;truck, maybe it's from the siege. He knows that&nbsp;a&nbsp;tag is valid if the sum of every two consecutive digits of it is even and its letter is not a vowel. Determine if the tag of the truck is valid or not</p>
                       <p>We consider the letters <strong>"A","E","I","O","U","Y</strong>" to be vowels for this problem.</p>
                        <p><strong>Input Format</strong></p>
                      <p>The first line contains a string of length 9. The format is "DDXDDD-DD", where D&nbsp;stands for a digit (non zero) and X is an uppercase english&nbsp;letter.</p>
                  <p><strong>Output Format</strong></p>
            <p>Print "valid" (without quotes) if the tag is valid, print "invalid" otherwise (without quotes)</p>

              </div>
    </pre>
</div>




    <div class="main">




        <div class="row log">
            <div class="col-sm-10">
                <div class=""><h3 style="text-align:center;">Online Compiler</h3></div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
        </div>

        <div class="container">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-6">
               <div class="form-group">
                  <!-- action="java.php" -->
<!--                   id="form" name="f2" -->
                    <form  method="POST" >

                        <label for="ta">Write Your Code</label>

                        <div  >

                        {% csrf_token %}
                        {{ form }}

                        </div>



                        <div>
                        <label for="in" style="    margin-top: 39px;">Enter Your Input</label>
                        <textarea class="form-control" name="input" rows="3" cols="50" style="    height: 50px;margin-top: 0px; padding: 0%"></textarea><br><br>
                             <form method="GET">
                       <label for="out">Output</label>

              <textarea id='div' class="form-control" name="output" rows="10" cols="50">
              </textarea>
                  </form>
                        <input type="submit" id="st" class="btn btn-success" value="Run Code" style="margin-top:-39px" onclick="">\
                        </div>

                    </form>
                        </div>



          </div>


          </div>
        </div>



        <!--<script type="text/javascript">-->

        <!--  $(document).ready(function(){-->

        <!--     $("#st").click(function(){-->

        <!--           $("#div").html("Loading ......");-->


        <!--     });-->

        <!--  });-->


        <!--</script>-->

        <!--<script>-->
        <!--//wait for page load to initialize script-->
        <!--$(document).ready(function(){-->
        <!--    //listen for form submission-->
        <!--    $('form').on('submit', function(e){-->
        <!--      //prevent form from submitting and leaving page-->
        <!--      e.preventDefault();-->

        <!--      // AJAX-->
        <!--      $.ajax({-->
        <!--            type: "POST", //type of submit-->
        <!--            cache: false, //important or else you might get wrong data returned to you-->
        <!--            // url: "compile.php", //destination-->
        <!--            url: "javacompiler.py",-->

        <!--            datatype: "html" , //expected data format from process.php-->
        <!--            data: $('form').serialize(), //target your form's data and serialize for a POST-->
        <!--            success: function(result) { // data is the var which holds the output of your process.php-->

        <!--                // locate the div with #result and fill it with returned data from process.php-->
        <!--                $('#div').html(result);-->
        <!--            }-->
        <!--        });-->
        <!--    });-->
        <!--});-->
        <!--</script>-->







    </div>



</body>
{% endblock %}
