{% extends "app/layout.html" %}

{% block content %}



<div class="jumbotron">
    {% load static %}
    <img src="{% static "app/logo/host.png" %}" alt="My image" style="width:300px;">
    <p class="lead">Welcome to Host analytics Hiring platform</p>
    <p><a href="https://hostanalytics.com/" class="btn btn-primary btn-large" target="_blank">See more &raquo;</a></p>
    


<div class="row">
    <div class="col-md-4">
  </div>
  {% if user.is_authenticated == False %}
  <h1>Please Login to take test</h1>
  {% endif %} 

  {% if user.is_superuser  %}
  <div class="col-md-4">
          
      <h2>Hey {{ user.username }} <br/> you are Super User </h2>
 
      <p><a class="btn btn-default">Manage Users</a></p>
  </div>
  {% endif %} 
  
  {% if user.is_authenticated == True and  user.is_superuser == False %}
    <div class="col-md-4">
            
        <h2>{{ user.username }} <br/>Take Test</h2>
   
        <p><a class="btn btn-default" href="{% url 'test' %}">Goto Test &raquo;</a></p>
    </div>
    {% endif %} 
    <div class="col-md-4">
      
    </div>
</div>

{% endblock %}
