{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Host Analytics</h1>
    <p class="lead">Welcome to Host analytics Hiring platform</p>
    <p><a href="https://hostanalytics.com/" class="btn btn-primary btn-large">See more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
  </div>
    <div class="col-md-4">
        <h2>Take Test</h2>
       <p>Click on the link below to go to the coding test</p>
        <p><a class="btn btn-default" href="{% url 'codeeditor' %}">Goto Test &raquo;</a></p>
    </div>
    <div class="col-md-4">
      
    </div>
</div>

{% endblock %}
