<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Host Analytics Hiring platform</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/ace.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js" type="text/javascript"></script>
    <script src="{% static 'app/scripts/googlestyle.js' %}" type="text/javascript"></script>
</head>
<style>
    .navbar-fixed-bottom {
        bottom: 0;
        z-index: 0;
    }
</style>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="
    height: 70px;
">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">home</i></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 137 134" fill="none">
<path d="M27.8851 50.5013C34.53 32.5601 46.4908 23.9217 63.1031 21.2637V0.66452C31.8721 2.65799 11.9373 19.9347 3.96346 43.1919L27.8851 50.5013Z" fill="#5ABAFF"/>
<path d="M25.8915 58.4752L1.30537 51.1658C-6.66851 97.6801 22.5691 135.556 70.4124 133.563C118.256 131.569 139.874 91.0352 135.532 58.4752C131.191 25.9151 107.624 1.99347 71.0769 0V21.2637C96.3275 23.9217 107.499 44.5209 108.953 58.4752C112.275 90.3707 94.9985 111.634 68.4189 112.299C37.1878 112.299 23.2335 87.0482 25.8915 58.4752Z" fill="white"/>
<path d="M51.8066 89.7062V40.5339H60.445V60.4686C67.0899 50.5013 83.0377 53.8237 83.0377 65.1201V89.7062H75.0638L74.3993 69.107C73.7348 61.1331 64.432 59.1396 60.445 69.107V89.7062H51.8066Z" fill="white"/>
</svg></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'home' %}"> </i> Home</a>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr/>
        <footer>

            {% comment %}
            <div class="navbar navbar-inverse navbar-fixed-bottom"> {% endcomment %}
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar">&</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                        <p style="color: aliceblue; right:0%; padding:2px"><br/>&copy; </p>
                    </div>

                </div>
            </div>


    </div>
    </div>
    </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>

</html>