{% if user.is_authenticated %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand" style="
            line-height: 2.2;
            font-size: 18px;
        "><i class="fa fa-user icon">  </i>  {{ user.username }}</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        {% url 'test' as my_view %} {% if request.path == my_view %}

        <li><a id="submitTest" class="submit_test" style=" width: auto;
            height: auto;
            background-color: #d70006;
            border-radius: 15px;
            color: #fff8ec;
            right: 0%;
            line-height: 0.3;
            align-self: center;
            position: relative;
            top: 8px;" href="{% url 'submittest' %}">Submit Test</a></li>
        <li>
            <div>

                <span id="myTimer1" style="
                color: white;
                font-weight: 600;
                font-size: 24px;
                position: relative;
                line-height: 2.7;
                right: -10px;
            "></span>
            </div>
        </li>

        {% endif %}
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a style="padding-right: 150px;" href="{% url 'login' %}">LOG IN</a></li>
</ul>

{% endif %}