<h3>QUESTION 1 :<br/><strong>SEATING ARRANGEMENT</strong> </h3>
<br/>
<div class="problem-description line-height-18 less-margin-2 darker content">
    <div id="fullscreen-problem-title" class="problem-title medium-margin weight-700 hidden">Seating Arrangement</div>
    <div class="starwars-lab">
        <p><strong>Akash</strong> and <strong>Vishal</strong> are quite fond of travelling. They mostly travel by railways. They were travelling in a train one day and they got interested in the seating arrangement of their compartment. The compartment looked
            something like <br><br><img src="https://he-s3.s3.amazonaws.com/media/uploads/a2e0794.jpg">
            <br>So they got interested to know the seat number facing them and the seat type facing them. The seats are denoted as follows : <br></p>
        <ul>
            <li>Window Seat : <strong>WS</strong></li>
            <li>Middle Seat : <strong>MS</strong></li>
            <li>Aisle Seat : <strong>AS</strong><br><br></li>
        </ul> You will be given a seat number, find out the seat number facing you and the seat type, i.e. <strong>WS</strong>, <strong>MS</strong> or <strong>AS</strong>.<br><br><strong>INPUT</strong><br>First line of input will consist of a single integer
        <strong>T</strong> denoting number of test-cases. Each test-case consists of a single integer <strong>N</strong> denoting the seat-number.<br><br><strong>OUTPUT</strong><br>For each test case, print the facing seat-number and the seat-type, separated
        by a single space in a new line.<br><br><strong>CONSTRAINTS</strong><br>
        <ul>
            <li>1&lt;=<strong>T</strong>&lt;=10<sup>5</sup></li>
            <li>1&lt;=<strong>N</strong>&lt;=108</li>
            <p></p>
        </ul>
    </div>


    <div class="less-margin-2 input-output-container">
        <div class="input-output right-border">
            <div class="form-label">
                <div class="weight-600 less-margin-right light float-left small">SAMPLE INPUT</div>
                <div class="input-output-opt float-right">
                    <a href="https://he-s3.s3.amazonaws.com/media/hackathon/cc3/problems/dc4f17c409-sample-input-dc4ebf1.txt?Signature=arJLSq%2FBQX201OiLlWTXJlh4kQw%3D&amp;Expires=1570028106&amp;AWSAccessKeyId=AKIAI6ICDAQTL3Q6ZBKA" class="track-problem-sample-input tool-tip"
                        target="_blank"><i class="fa fa-link"></i></a>
                    <a class="track-problem-sample-input-copy input-output-copy tool-tip"><i class="fa fa-files-o"></i></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="dark"><pre class="word-spacing-0">2
18
40</pre></div>
        </div>
        <div class="input-output">
            <div class="form-label">
                <div class="weight-600 float-left less-margin-right light small">SAMPLE OUTPUT</div>
                <div class="input-output-opt float-right">
                    <a href="https://he-s3.s3.amazonaws.com/media/hackathon/cc3/problems/dff6763809-sample-output-dff619a.txt?Signature=RgsQEx0IKZ%2Bgklsd5YfT%2FQE2qJ4%3D&amp;Expires=1570028106&amp;AWSAccessKeyId=AKIAI6ICDAQTL3Q6ZBKA" class="track-problem-sample-output tool-tip"
                        target="_blank"><i class="fa fa-link"></i></a>
                    <a class="track-problem-sample-output-copy input-output-copy tool-tip"><i class="fa fa-files-o"></i></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="dark"><pre class="word-spacing-0">19 WS
45 AS</pre></div>
        </div>
        <div class="clear"></div>
    </div>









    <div class="standard-margin light small problem-guidelines">

        <div>
            <span class="weight-700">Time Limit: </span>
            <span>
                                    1.0 sec(s)
                                    
                                    <span>for each input file.</span>

            </span>
        </div>
        <!-- end limit-item -->

        <div class="less-margin">
            <span class="weight-700">Memory Limit: </span>
            <span>256 MB </span>
        </div>
        <!-- end limit-item -->

        <div class="less-margin">
            <span class="weight-700">Source Limit: </span>
            <span>1024 KB </span>
        </div>
        <!-- end limit-item -->


        <div class="less-margin">
            <span class="weight-700">Marking Scheme: </span>
            <span>Marks are awarded when all the testcases pass.</span>
        </div>




        <div class="less-margin">
            <span class="weight-700">Allowed Languages: </span>
            <span>
                            
                                Bash, 
                            
                                C, 
                            
                                C++, 
                            
                                C++14, 
                            
                                Clojure, 
                            
                                C#, 
                            
                                D, 
                            
                                Erlang, 
                            
                                F#, 
                            
                                Go, 
                            
                                Groovy, 
                            
                                Haskell, 
                            
                                Java, 
                            
                                Java 8, 
                            
                                JavaScript(Rhino), 
                            
                                JavaScript(Node.js), 
                            
                                Julia, 
                            
                                Kotlin, 
                            
                                Lisp, 
                            
                                Lisp (SBCL), 
                            
                                Lua, 
                            
                                Objective-C, 
                            
                                OCaml, 
                            
                                Octave, 
                            
                                Pascal, 
                            
                                Perl, 
                            
                                PHP, 
                            
                                Python, 
                            
                                Python 3, 
                            
                                R(RScript), 
                            
                                Racket, 
                            
                                Ruby, 
                            
                                Rust, 
                            
                                Scala, 
                            
                                Swift, 
                            
                                Swift-4.1, 
                            
                                TypeScript, 
                            
                                Visual Basic
                            
                            </span>
        </div>

    </div>
    <!-- end limits -->


</div>